--- meshconfig-agent.conf.org   2016-03-15 12:45:34.947656034 +0200
+++ meshconfig-agent.conf       2016-03-15 12:47:15.338185021 +0200
@@ -23,20 +23,27 @@
 #    ## included in this mesh, the agent shouldn't thrown an error.
 #    #permit_non_participation      1
 #</mesh>
 
 ## You can define more meshes to configure against by adding more 'mesh' blocks.
 #<mesh>
 #    configuration_url            https://host.domain.edu/example2.json 
 #    #validate_certificate         0
 #    #ca_certificate_file          /etc/pki/tls/bundle.crt
 #</mesh>
+#
+## WLCG MESH {{ ansible_managed }}
+<mesh>
+    configuration_url           https://myosg.grid.iu.edu/pfmesh/mine/hostname/{{ ansible_fqdn }}
+    validate_certificate        0
+    required                    1
+</mesh>
 
 # You can use the 'configure_archives' variable to have the mesh configuration generate
 # measurement_archive blocks using the write_url from your configuration file. This is disabled
 # by default but you can enable it by setting to to 1. 
 # configure_archives 0
 
 ## You can use the 'use_regular_testing' variable to disable having the mesh
 ## configuration generate the regular testing # configuration so that it will
 ## generate the traceroute master, owmesh and # pinger landmarks files instead.
 ## To do this, you'll need to set the variable to 0.
@@ -114,16 +121,17 @@
 #email_from_address           admin@host.site.edu
 
 ## One or more 'admin_email' options can be included to specify email addresses
 ## to send errors to. These email addresses will receive all errors (including
 ## parsing errors). This is in addition to the emails that will be sent to the
 ## various affected administrators (e.g. the mesh administrator or the site
 ## administrator).
 #admin_email         admin1@site.edu
 #admin_email         admin2@site.edu
 
+admin_email         {{ adminMailAddr }}
 
 ## The 'skip_redundant_tests' can be used so that if the meshes end up creating
 ## multiple tests between hosts with the exact same test parameters, it will
 ## only setup the hosts to only run one test. If you enable this, you won't see
 ## the skipped tests in the Toolkit GUI
 #skip_redundant_tests        1
